
@import "./base.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Syne&display=swap');
@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');
@import url('http://fonts.cdnfonts.com/css/futura-md-bt');
@import url('http://fonts.cdnfonts.com/css/avenir-next-lt-pro');

@font-face {
    font-family:"Avenir Next LT Pro";
    src: url(../fonts/Avent-Pro.otf);
}

.contact {
    font-family: 'Avenir Next LT Pro', sans-serif;
    position: relative;
    width: 100%;
    text-transform: uppercase;

    background: $matte-black;
    &__header {
        margin-bottom: 3rem;
    }
    @media (max-width: 1100px) {
        padding: 2rem;
    } 
    
}

.form {
    
    &__info {
        display: flex;
        align-items: center;
        gap: 2rem;
        font-size: 2vw;
        font-weight: 500;
        input {
            text-transform: uppercase;
            font-size: inherit;
            font-weight: inherit;
            padding: 1rem;
            border-radius: 5rem;
            border: none;
            background: $cream-white;
            border-bottom: 1px solid #000;
            color: black;
            &:focus {
                outline: none;
            }
        }

    }
    &__flex {
        padding: 2rem;
        display: flex;
        gap: 4rem;
        margin-bottom: 2rem;
        textarea {
            width: 70%;
            background: $cream-white;
            border: none;
            padding: 2rem;
            border-radius: 5rem;
            border-bottom: 1px solid #000;
            font-size: 1.9vw;
            color: #444;
            resize: none;
            &:focus {
                outline: none;
            }
        }
        .circleButton {
            font-weight: 900;
            
            font-size: 20px;
            &:before {
                background: #000;
            }
            &:after {
                display: none;
            }
            &:hover:before {
                background: #fff;
            }
        }
    }
}

@media (max-width: 900px) {
    .form {
        &__flex {
            flex-direction: column;
            textarea {
                font-size: 4vw;
            }
        }
        &__info {
            font-size: 4vw;
            input {
                font-size: 4vw;
            }
        }
    }
} 

@media (max-width: 800px) {
    .contact .homeButton {
        transform: scale3d(1,1,1);
        font-size: 19px;
    }

    
} 

@media (max-width: 610px) {
    .form {
        &__info {
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            input {
                font-size: 5vw;
                width: 100%;
            }
        }
        &__flex {
            textarea {
                width: 100%;
                font-size: 5vw;
            }
        }
    }
}