@import "./base.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Syne&display=swap');
@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');
@import url('http://fonts.cdnfonts.com/css/futura-md-bt');
@import url('http://fonts.cdnfonts.com/css/avenir-next-lt-pro');

@font-face {
    font-family:"Avenir Next LT Pro";
    src: url(../fonts/Avent-Pro.otf);
}



.projects {
    max-width: 100%;
    font-family: 'Avenir Next LT Pro';
    &__header {
        font-size: 60px;
        padding-bottom: 10px;
    }
    
}

.project {
    
    &__header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    
    }
    &__infos {
        
        margin-top: 1rem;
        &--name {
            position: relative;
            font-size: 1.7vw;
            display: flex;
            align-items: center;
            font-weight: 700;
            text-transform: uppercase;
             
        }
    }

    


    &__links {
        padding-top: 3rem;
        button {
            &:before {
                background: black;
            }
        }
    }

    &__tags {
        position: inherit;
        padding: 1rem;
        top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 30vw;
        font-size: 1.3rem;
        font-weight: 400;
    }
}

@media (max-width: 1350px) {
    .projects {
        padding: 3rem;
    }
    .project__img img {
        width: 74vw;
        right: 5rem;
    }
    .project__infos--name {
        font-size: 38px;
    }
    
}

@media (max-width: 740px) {
    .projects {
        padding: 1rem;
    }
    .project__tags {
        flex-direction: row;
        top: 0;
        left: 0;
    }
    .project__infos--name {
        font-size: 35px;
        span {
            display: flex;
            flex-direction: column;
        }
    }
    .project__img img {
        width: 85cw;
        right: 3rem;
    }
    
}

@media (max-width:440px) {
    .project__tags {
        gap: 6px;
        font-size: 14px;
    }
    .project__header span{
        font-size: 25px;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&display=swap');



.perspective {
	width: 90%;
	perspective: 2000rem;
}

.threeDimensionalCard {
	max-width: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
    padding: 10.5vh;
    
    
}

.card {
    min-width: 100%;
	height: 413px;
	margin: 0 30% 0 auto;
	box-shadow: 0 70px 60px -60px #494848;
	transform-style: preserve-3d;
	transition: transform .05s linear;
}

.card .thumb {
	background-size: cover;
	width: 100%;
	height: 100%;
	border-radius: 15px;
   
}

.card .thumb:after {
	background: inherit;
	content: '';
	position: absolute;
	display: block;
	left: -60px;
	top: 40px;
	width: 100%;
	height: 108%;
	z-index: -1;
	filter: blur(65px);
}

.card span {
	position: absolute;
	bottom: 40px;
	right: -280px;
	font-size: 36px;
	font-weight: 600;
	transform: translateZ(35px);
}

.card h2 {
	position: absolute;
	top: 0;
	left: -60px;
	font-size: 40px;
	font-weight: normal;
	transform: translateZ(80px);
}





























