@import "./base.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Syne&display=swap');
@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');
@import url('http://fonts.cdnfonts.com/css/futura-md-bt');
@import url('http://fonts.cdnfonts.com/css/avenir-next-lt-pro');


@font-face {
  font-family:"Avenir Next LT Pro";
  src: url(../fonts/Avent-Pro.otf);
}

.intro {
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #16182c;
    transition: 0.3s;
  }
  
  .welcome-header {
    font-family: 'Avenir Next LT Pro', sans-serif;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
  }
  
  .letter {
    z-index: 3;
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    font-size: 4rem;
  }
  
  .letter.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
  }
  
  .letter.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
  }
  
  #pic {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  opacity: 0;
  width: 50%;
  }
  
  #pic.active {
    opacity: 1;
    transition: ease-in-out .5s;
  }
  
  @media screen and (max-width: 500px) {
    .letter {
      font-size: 1.4rem;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .letter {
      font-size: 2rem;
    }
  }